.visit{
    padding: 64px 10px;
   
}

.visit-banner{
    margin: 0 auto;
    padding: 64px 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/public/images/home.png');
}
.visit-banner h3{
    font-size: 40px !important;
        line-height: 44px !important;
        font-weight: 700 !important;
        text-align: center;
        color: #fff;

}
.visit-banner p{
    margin: 16px auto;
    padding: 0px 64px;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #fff;
    text-align: center;
}
.btn-visit{
    min-height: 48px;
    line-height: 24px;
    text-decoration: none;
    margin: 0 auto;
    display: table;
    border-radius: 4px;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
     background-color:  #009fd9 !important;

}
.btn-visit:hover{
    
    color: #fff !important;
}
.btn-visit1{
    min-height: 48px;
    line-height: 24px;
    text-decoration: none;
    margin-top: 20px !important;
    border-radius: 4px;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
     background-color:  #009fd9 !important;

}
.btn-visit1:hover{
    
    color: #fff !important;
}
.business .trend-content p{
    margin-bottom: 40px;
}
@media only screen and (max-width: 768px) and (min-width: 320px)  {
    .visit {
        padding: 20px 10px;
    }
    .visit-banner{
        padding: 64px 20px;
    }
    .visit-banner p {
        padding: 0px 10px;
    }
}